<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockManager.Properties.Settings.CJ3027597PR2ConnectionString"
            connectionString="Data Source=sqlexpress;Initial Catalog=CJ3027597PR2;User ID=aluno;Password=aluno;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>